# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
.pytest_cache/
*/.pytest_cache/
.ruff_cache/
*/.ruff_cache/
backend/.coverage

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log

# OS
.DS_Store
Thumbs.db
htmlcov/

# Custom
.InternalDocs/
.InternalDocs/*
*/*.tsbuildinfo